#!/bin/bash

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though

# Shortcuts
alias .dotfiles="cd ~/.dotfiles"
alias cls="clear"
alias d="cd ~/Documents"
alias db="cd ~/Dropbox"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias h="history"
if test "$(uname -m)" = "arm64"; then
  alias ij='open -a "IntelliJ IDEA.app"'
else
  alias ij='open -a "IntelliJ IDEA CE.app"'
fi
alias pubkey="pbcopy < ~/.ssh/id_rsa.pub | echo '-- Public key copied to pasteboard! -- '"
alias ws="cd ~/Workspace"

# Detect which `ls` flavor is in use
if ls --color >/dev/null 2>&1; then # GNU `ls`
  colorflag="--color"
  export LS_COLORS='no=00:fi=00:di=01;31:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
else # macOS `ls`
  colorflag="-G"
  export LSCOLORS='BxBxhxDxfxhxhxhxhxcxcx'
fi

# List all files colorized in long format
alias l="ls -lFh ${colorflag}"

# List all files colorized in long format, excluding . and ..
alias la="ls -lAFh ${colorflag}"

# List only directories
alias ld="ls -lFh ${colorflag} | grep --color=never '^d'"

# List all files in reverse lexicographical order
alias lr="ls -lAFtrh ${colorflag}"

# Always use color output for `ls`
alias ls="command ls ${colorflag}"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get week number
alias week='date +%V'

# Get timestamp
alias timestamp='date +%Y%m%d%H%M%S'

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# Get Software Updates, update installed Homebrew packages etc
alias update='~/.dotfiles/scripts/update.sh'

# Show active network interfaces
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

# Show/hide hidden files in Finder
alias showallfiles="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hideallfiles="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Disable Spotlight
alias spotoff="sudo mdutil -a -i off"
# Enable Spotlight
alias spoton="sudo mdutil -a -i on"

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# Start the screensaver (when going AFK)
alias zzz="open -a ScreenSaverEngine"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Find stuff
alias findf="find . -type f -iname "
alias findd="find . -type d -iname "
function findinfiles() {
    # Find text in files (and replace text if needed) in current and subdirectories

    # Expecting only 1 or 2 arguments to be passed ...
    if [[ $# -eq 1 || $# -eq 2 ]]; then
      # Count the number of matches found in files
      filecount="$(grep -lri --exclude-dir={.git,.idea} -e "$1" . | wc -l)"
      echo -e "\n$filecount matches found\n"
      if [ "$filecount" -eq 0 ]; then
        return
      else
        # If only 1 argument is passed, only execute a find
        if [ $# == 1 ]; then
          grep -lri --exclude-dir={.git,.idea} -e "$1" .
        # If 2 arguments are passed, execute a find and replace
        elif [ $# == 2 ]; then
          grep -lri --exclude-dir={.git,.idea} -e "$1" .
          echo -e "\nReplacing \"$1\" with \"$2\" in matches found ..."
          grep -lri --exclude-dir={.git,.idea} -e "$1" . | xargs sed -i '' -e "s/$1/$2/g" && echo "Done!"
        fi
      fi
    # Unexpected, or no arguments provided, show usage ...
    else
      CMD="findinfiles"
      echo ""
      echo "Usage:   $CMD <\"search_pattern\">"
      echo "Example: $CMD \"refs/tags/v0.24.1\""
      echo ""
      echo "Usage:   $CMD <\"regex_search_pattern\"> <\"replacement_string\">"
      echo "Example: $CMD \"refs\/tags\/v0.24.1\" \"refs\/tags\/v0.24.3\""
  fi
}

# Use gsed instead of sed
alias sed="gsed"

# CAT stuff
# sharkdp/bat: A cat(1) clone with wings - https://github.com/sharkdp/bat
if test "$(command -v bat)"; then
  alias cat="bat -n"
  alias caat="bat -pp"
fi

# Java/JDK stuff
alias jdkversions="/usr/libexec/java_home -V"
alias jdk11="jdk 11"
alias jdk17="jdk 17"
alias jdk21="jdk 21"

# Git stuff
alias githome="sed -i 's/GIT_AUTHOR_EMAIL.*/GIT_AUTHOR_EMAIL=\"\$GIT_HOME_EMAIL\"/g' ~/.extra && sed -i 's/GIT_COMMITTER_EMAIL.*/GIT_COMMITTER_EMAIL=\"\$GIT_HOME_EMAIL\"/g' ~/.extra && sed -i 's/git config --global user.email.*/git config --global user.email \"\$GIT_HOME_EMAIL\"/g' ~/.extra && reload"
alias gitwork="sed -i 's/GIT_AUTHOR_EMAIL.*/GIT_AUTHOR_EMAIL=\"\$GIT_WORK_EMAIL\"/g' ~/.extra && sed -i 's/GIT_COMMITTER_EMAIL.*/GIT_COMMITTER_EMAIL=\"\$GIT_WORK_EMAIL\"/g' ~/.extra && sed -i 's/git config --global user.email.*/git config --global user.email \"\$GIT_WORK_EMAIL\"/g' ~/.extra && reload"
alias gitauthor='echo GIT_AUTHOR_NAME: $GIT_AUTHOR_NAME \| GIT_AUTHOR_EMAIL: $GIT_AUTHOR_EMAIL'

## Git interactive rebase
function grbi() {
  if [ "$1" == "--help" ]; then
    echo "git rebase interactive options: [null defaults to HEAD~2] | <number of commits> | root " && return
  elif [ -z $1 ]; then
    val="HEAD~2"
  elif [ "$1" == "root" ]; then
    val="--root"
  else
    val="HEAD~$1"
  fi
  git rebase -i $val
}

## Git branch rename
function gbrn() {
  read -r -p "Rename local branch '$(git branch --show-current)'? [Y/n]" response
  response=${response:l} # tolower
  if [[ $response =~ ^(y| ) ]] || [[ -z $response ]]; then
    oldbranch=$(git branch --show-current)
  else
    read -r -p "Enter old branch name: " oldbranch
  fi
  read -r -p "Enter new branch name: " newbranch
  # Rename branch
  git branch -m "$oldbranch" "$newbranch"
  # Delete the old-name remote branch and push the new-name local branch
  git push origin :"$oldbranch" "$newbranch"
  # Reset the upstream branch for the new-name local branch
  git push origin -u "$newbranch"
}

## Determine if the default Git branch (usually "main" or "master")
function git_main_branch {
  git symbolic-ref refs/remotes/origin/HEAD | cut -d'/' -f4
}

alias g='git'
alias ga='git add'
alias gb='git branch --all'
alias gbd='git branch -D'
alias gbda='git branch | grep -vE "^([+*]|\s*(`git_main_branch`|develop)\s*$)" | xargs git branch -D'
alias gbdm='git branch --merged | grep -vE "^([+*]|\s*(`git_main_branch`|develop)\s*$)" | xargs git branch -d'
alias gbl='git branch -l'
alias gcl='git clone'
alias gcm='git commit'
alias gcma='git commit --amend'
alias gcmara='git commit --amend --reset-author'
alias gco='git checkout'
alias gcob='git checkout -b'
alias gcod='git checkout develop'
alias gcom='git checkout `git_main_branch`'
alias gcp='git cherry-pick'
alias gcpa='git cherry-pick --abort'
alias gcpc='git cherry-pick --continue'
alias gd='git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat | diff-so-fancy'
alias gdt='git difftool --no-prompt'
alias gl='git log'
alias gll='git log --color --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit'
alias glll='git log --all --decorate --oneline --graph'
alias gm='git merge'
alias gmt='git mergetool --no-prompt'
alias gph='git push'
alias gphfo='git push --force origin'
alias gphom='git push origin `git_main_branch`'
alias gpl='git pull'
alias gplo='git pull origin'
alias gplrb='git pull --rebase'
alias gplrbom='git pull --rebase origin `git_main_branch`'
alias gplrbum='git pull --rebase upstream `git_main_branch`'
alias grba='git rebase --abort'
alias grbc='git rebase --continue'
alias grbd='git rebase develop'
alias grbm='git rebase `git_main_branch`'
alias gremoteaddupstream='git remote add upstream'
alias gremoteremoveupstream='git remote remove upstream'
alias gremotesyncupstream='git fetch upstream && git checkout `git_main_branch` && git merge upstream/`git_main_branch`'
alias grsh='git reset --hard'
alias grvt='git revert'
alias grvtnc='git revert --no-commit'
alias gs='git status -s'
alias gsta='git stash save --include-untracked'
alias gstac='git stash clear'
alias gstad='git stash drop'
alias gstal='git stash list'
alias gstap='git stash pop'
alias gt='git tag -l'

# Docker stuff
## Docker Images
alias dkri='docker images'
alias dkrrmi='docker rmi'
alias dkrbu='docker build'
alias dkrrmi-all='docker rmi $* $(docker images -a -q)'
alias dkrrmi-dang='docker rmi $* $(docker images -q -f "dangling=true") --force'

## Docker Containers
alias dkrc='docker ps'
alias dkrcl='docker ps -l $*'
alias dkrrm='docker rm'
alias dkrexec='docker exec'
alias dkrlogs='docker logs'
alias dkrip='docker inspect --format "{{ .NetworkSettings.IPAddress }}" $*'
alias dkrstop-all='docker stop $* $(docker ps -q -f "status=running")'
alias dkrrm-stopped='docker rm $* $(docker ps -q -f "status=exited")'
alias dkrrmv-stopped='docker rm -v $* $(docker ps -q -f "status=exited")'
alias dkrrm-all='docker rm $* $(docker ps -a -q)'
alias dkrrmv-all='docker rm -v $* $(docker ps -a -q)'

## Docker Volumes
alias dkrvls='docker volume ls $*'
alias dkrvrm-all='docker volume rm $(docker volume ls -q)'
alias dkrvrm-dang='docker volume rm $(docker volume ls -q -f "dangling=true")'

# Random stuff
alias ip-public='dig +short myip.opendns.com @resolver1.opendns.com'
alias ip-local="ifconfig | grep 'inet ' | grep -v 127.0.0.1 | awk '{print \$2}'"
alias weather='clear; curl http://wttr.in/'

# Even more random stuff
alias pumpitup="osascript -e 'set volume output volume 100'"
alias stfu="osascript -e 'set volume output muted true'"
