# http://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
max_line_length = 120

[{.bash*,*.sh}]
indent_size = 2
max_line_length = 80

[*.{css,js,json,ts}]
indent_size = 2
continuation_indent_size = 2

[{*.gradle,*.groovy,Jenkinsfile}]
indent_size = 4

[*.html]
indent_size = 2

[*.java]
max_line_length = 100
indent_size = 4
continuation_indent_size = 8

[*.j2]
end_of_line = lf

[*.md]
trim_trailing_whitespace = false

[*.{ps1,psm1}]
charset = utf-8-bom
indent_size = 4

[*.py]
indent_size = 4
max_line_length = 80

[*.xml]
indent_style = tab
indent_size = 4

[*.{yml,yaml}]
max_line_length = 100
indent_size = 2
