[user]
	name = Ashok Manji
	email = 1902568+ashokm@users.noreply.github.com

##################################################
[gitreview]
	username = amanji

##################################################
[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix

[core]
    editor = vim

    # Use custom `.gitignore` and `.gitattributes`
    excludesfile = ~/.gitignore

    # Treat spaces before tabs and all kinds of trailing whitespace as an error
    # [default] trailing-space: looks for spaces at the end of a line
    # [default] space-before-tab: looks for spaces before tabs at the beginning of a line
    whitespace = space-before-tab,-indent-with-non-tab,trailing-space

    # Speed up commands involving untracked files such as `git status`.
    # https://git-scm.com/docs/git-update-index#_untracked_cache
    untrackedCache = true

##################################################
[push]
	default = simple

[pull]
    rebase = true

##################################################
[color]
	ui = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold # line info
	old = red # deletions
	new = green # additions

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

##################################################
[help]
    # Automatically correct and execute mistyped commands
	autocorrect = 1

##################################################
[diff]
	tool = intellij
	compactionHeuristic = true

	# Detect copies as well as renames
	renames = copies

[merge]
	tool = intellij
	stat = true
	log = true

# Intellij IDEA
[difftool "intellij"]
  cmd = idea diff \"$LOCAL\" \"$REMOTE\"
  trustExitCode = true

[mergetool "intellij"]
  cmd = idea merge \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
  trustExitCode = true
