# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Compiled Python files
*.pyc

# Build output directories
log/
target/

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

### Explictly defined files
.extra
