##################################################################
### https://www.gitignore.io generates useful .gitignore files ###
##################################################################

### Ansible ###
*.retry
*.molecule

### Eclipse ###
.classpath
.project
.settings/

### Homebrew ###
Brewfile.lock.json

### IntelliJ ###
.idea/
.idea_modules/
*.iml
*.iws

### Packer ###
packer_cache/
*.box

### Python ###
*.py[cod]

### Vagrant ###
.vagrant/

### VisualStudioCode ###
.vscode/*

### Build output directories ###
log/
target/

### Files that might appear on external disks ###
.Spotlight-V100
.Trashes

### Folder view configuration files ###
.DS_Store
[Dd]esktop.ini
$RECYCLE.BIN/

### Thumbnail cache files ###
._*
Thumbs.db

### Explictly defined files ###
.extra
.path
