### Eclipse ###
.classpath
.project
.settings/

### Homebrew ###
Brewfile.lock.json

### IntelliJ ###
.idea/
.idea_modules/
*.iml
*.iws

### VisualStudioCode ###
.vscode/*

### Files that might appear on external disks ###
.Spotlight-V100
.Trashes

### Folder view configuration files ###
.DS_Store
[Dd]esktop.ini
$RECYCLE.BIN/

### Thumbnail cache files ###
._*
Thumbs.db

### Explicitly defined files ###
.extra
.path
